@import 'config';
@import 'utilities';
@import 'animations';

$white: #fff;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-sans);
}

img {
  max-width: 100%;
}

header {
  background: var(--pink-1);
  padding: 0.5em 0;
  text-size-adjust: 100%;
}

.intro-placeholder {
  min-height: 100vh;
  background-color: var(--pink-1);
  display: grid;
  place-items: center;
}

.container {
  width: 95%;
  padding: 0;
  max-width: 650px;
}

.carousel {
  width: 100%;
  img {
    border-radius: 30px;
  }
}

.wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  // height: 100vh;
  // width: 100vw;
  padding-bottom: var(--size-7);
  background-color: var(--pink-1);
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: var(--size-5);
}

.carousel-caption {
  text-align: left;
}

%card {
  border-radius: var(--radius-4);
  padding: var(--size-fluid-3);
  box-shadow: var(--shadow-2);
  background-size: cover;
  border: var(--border-size-3) solid var(--cyan-6);
  margin-top: var(--size-7);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-family: var(--font-sans);
  color: var(--gray-0);
  position: relative;

  &:hover {
    box-shadow: var(--shadow-3);

    .svg-button-left {
      opacity: 1;
    }
    .svg-button-right {
      opacity: 1;
    }
  }

  img {
    border-radius: var(--radius-blob-5);
    object-fit: cover;
    width: var(--size-12);
    height: var(--size-12);
    margin: 0 auto;
  }

  @media (min-width: 1000px) {
    img {
      width: max-content;
      height: unset;
      aspect-ratio: 1 / 1;
    }
    h1 {
      max-width: var(--size-15) !important;
    }
  }

  h1 {
    max-width: var(--size-13);
    text-align: center;
    display: none;
  }
}

.card-gradient {
  @extend %card;
  background-image: var(--gradient-15);
}

.card-glass {
  @extend %card;
  background-color: rgba($color: #da8f8a, $alpha: 0.75);
}

// svg stuff
%svg-button {
  position: absolute;
  width: var(--size-7);
  height: var(--size-7);
  stroke: #fff;
  cursor: pointer;
  z-index: var(--layer-2);
  border-radius: var(--radius-round);
  opacity: 0;

  @media (min-width: 1000px) {
    width: var(--size-9);
    height: var(--size-9);
  }

  &:hover,
  &:focus {
    box-shadow: var(--shadow-3);
    transform: scale(1.2);
  }
}
.svg-button-left {
  @extend %svg-button;
  left: var(--size-1);
}
.svg-button-right {
  @extend %svg-button;
  right: var(--size-1);
}
.svg-symbols {
  display: none;
}

@media (min-width: 700px) {
  .carousel {
    width: auto;
  }
}

/* Hamburger menu styles taken from https://codepen.io/alvarotrigo/pen/MWEJEWG under the MIT license */

.nav__link,
li a {
  color: $white;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 2rem;
  font-weight: 700;
  width: auto;
}

.nav__link:hover {
  color: #0d6efd;
}

#menu-input {
  display: none;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: $white;
  height: 50px;
  padding: 1em;
}

.top-nav h2 {
  vertical-align: center;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: $white;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: var(--pink-1);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 810px) {
  .menu-button-container {
    display: flex;
  }
  .menu {
    position: absolute;
    top: 0;
    margin-top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: var(--layer-2);
    border: 2px solid $white;
    border-radius: var(--radius-4);
    overflow: hidden;
  }
  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  #menu-toggle:checked ~ .menu li {
    display: flex;
    border: 1px solid $white;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  .menu > li {
    display: none;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: var(--pink-3);
  }
  .menu > li:not(:last-child) {
    border-bottom: 1px solid $white;
  }
}
